[Unit]
Description="Overlay directory /home/xxx/.config/google-chrome"

[Service]
Type=simple
ExecStart=/bin/sudo /home/xxx/.scripts/mounts/overlay/home-xxx-.config-google_chrome enable
RemainAfterExit=true
ExecStop=/bin/sudo /home/xxx/.scripts/mounts/overlay/home-xxx-.config-google_chrome disable

[Install]
WantedBy=default.target
